# Core functionality - changes here should be rare!
/src/app.py                   @Dashing-Nelson
/src/backend/database.py      @Dashing-Nelson
/src/backend/routers/auth.py  @Dashing-Nelson

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Dashing-Nelson
